<svg width="20" height="20" xmlns="http://www.w3.org/2000/svg" zoomAndPan="magnify" preserveAspectRatio="xMidYMid meet" version="1.0">
 <g id="Layer_1">
  <title>Layer 1</title>
  <path id="svg_1"  stroke="#000" fill="#fff" fill-opacity="0" stroke-width="2" d="m9.88918,2.38773c-4.27309,0 -7.73773,2.76954 -7.73773,6.18619c0,1.95426 1.13735,3.69548 2.90814,4.82875c-0.25196,1.00472 -0.75478,2.11753 -1.72661,3.10177c0,0 2.26846,-0.18062 3.8707,-2.13514c0.09224,0.02721 0.18772,0.0477 0.28083,0.07283c-0.08751,-0.3141 -0.13902,-0.64063 -0.13902,-0.98037c0,-2.30514 2.13354,-4.11013 4.85847,-4.11013c1.95721,0 3.60409,0.93475 4.37934,2.31396c0.65996,-0.9104 1.0436,-1.96489 1.0436,-3.09245c0,-3.41586 -3.46464,-6.1854 -7.73772,-6.1854l0,0zm6.6077,11.07455c0,-1.89518 -1.92166,-3.43271 -4.29356,-3.43271c-2.37061,0 -4.29335,1.53753 -4.29335,3.43271c0,1.8962 1.92274,3.43296 4.29335,3.43296c0.52502,0 1.02506,-0.07905 1.48996,-0.2169c0.88884,1.08506 2.14753,1.18483 2.14753,1.18483c-0.53903,-0.5463 -0.81749,-1.16361 -0.9576,-1.72155c0.98196,-0.62817 1.61367,-1.5943 1.61367,-2.67934z"/>
 </g>
</svg>