<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>PaganGnosisPortal</title>
        
        {% block stylesheets %}
        <link href="https://unpkg.com/fylgja/fylgja.css" rel="stylesheet">
        <style>
            .menu {
                flex-direction: var(--menu-dir, row);
                background-color: #f2f2f2;
                margin-bottom: 5px;
            }
            .main-content {
                margin: 20px;
            }
            .footer {
                border-top: 5px solid;
                border-color: #f2f2f2;
                padding-top: 6px;
            }
            .header {
                position; relative;
            }
            .user-controls {
                position: absolute;
                right: 20px;
                top: 20px;
                text-align: right;
            }
            .main-content {
                margin: auto;
                margin-bottom: 10px;
                margin-top: 10px;
                width: 50%;
            }        
        </style>
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
        <div class="header">        
            <div class="introduction">
                <h1>PaganGnosisPortal</h1>
                <p style="margin-top: -20px;"><em> - For the construction of a Divine Database</em></p>
            </div>
            {% if app.user %}
                <div class="user-controls">
                    <p>Hail to thee {{ app.user.username }}, we are glad to see you today! :)</p>
                    <a href="/logout">Logout</a>
                </div>
            {% endif %}
        </div>
        <nav>
            <ul class="menu">
                <li><a href="/">Home</a></li>
                <li><a href="/gnosis-projects">Gnosis Projects</a></li>
                {% if is_granted('ROLE_ADMINISTRATOR') %}
                    <li><a href="/users">Users</a></li>
                {% endif %}
            </ul>
        </nav>
        {% block content %}{% endblock %}
    </body>
    {{ include('footer.html.twig') }}
</html>
