<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>PaganGnosisPortal</title>
        
        {% block stylesheets %}
        <link href="https://unpkg.com/fylgja/fylgja.css" rel="stylesheet">
        <style>            
            body {
                background-color: #e6c083;
                color: #201d17;                
            }
            .main-container {
                margin-left: 0;
                margin-right: 0;
                display: flex;
                min-height: 800px;
                height: auto;
            }            
            .left-bar {
                width: 325px;
                flex-shrink: 0;
            }
            .header {
                padding: 4%;
            }
            .user-controls {
                position: relative;                
                text-align: right;
            }
            .menu {
                background-color: #f1e3c9;
            }
            .work-area {
                flex-grow: 1;
                background-color: #f9dfb7;
            }
            .main-content {
                margin: auto;
                margin-top: 2%;
                width: 80%;
            }
            .list-title-row {
                display: flex;
                align-items: center;
                margin: 10px;
            }
            .list-title-name {
                margin: 0;
            }
            .list-title.button {
                margin-left: auto;
                margin-top: 10px;
            }
            .footer {
                border-top: 5px solid;
                border-color: #f2f2f2;
                padding: 1%;
            }
        </style>
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
        <div class="main-container">
            <div class="left-bar">
                <div class="header">        
                    <div class="introduction">
                        <h1>PaganGnosisPortal</h1>
                        <p style="margin-top: -20px;"><em> - For the construction of a Divine Database</em></p>
                    </div>
                    {% if app.user %}
                        <div class="user-controls">
                            <b>Welcome {{ app.user.username }}!</b>
                            <a href="/logout" style="color: white;">Log out</a>
                        </div>
                    {% endif %}
                </div>
                <nav>
                    <ul class="menu">
                        {% if app.user %}
                            <li><a href="/">Home</a></li>
                            <li><a href="/gnosis-projects">Gnosis Projects</a></li>
                            {% if is_granted('ROLE_ADMINISTRATOR') %}
                                <li><a href="/users">Users</a></li>
                            {% endif %}
                        {% endif %}
                    </ul>
                </nav>
            </div>
            <div class="work-area">
                {% block content %}{% endblock %}
            </div>
        </div>
        {{ include('footer.html.twig') }}
    </body>    
</html>
