<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>PaganGnosisPortal</title>
        
        {% block stylesheets %}
        <link href="https://unpkg.com/fylgja/fylgja.css" rel="stylesheet">
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
        <h1>PaganGnosisPortal</h1>
        <p><em> - For the construction of a Divine Database</em></p>
        {% block content %}{% endblock %}
    </body>
    {{ include('footer.html.twig') }}
</html>
