        <div class="footer">
            <h6>This is the Pagan Footer.</h6>
            <p>This web-application is still under construction. Changes will be made without prior warning and it is recommended to not take it all so seriously.</p>
        </div>
    </body>
</html>