<div class="footer">
    <p>&copy; {{ 'now' | date('Y') }} Pagan Gnosis Portal. All rights reserved.</p>
    <p>Have questions or suggestions? <a href="mailto:danielriezebos@outlook.com">Email us</a>.<br>
    May the gods inspire us, may our ancestors show us the way, may our descendants think positively of us and may the spirits of the land be with us, always.</p>
</div>