{% extends 'base.html.twig' %}
{% block content %}
<div class="main-content">
        <p>Greetings, fellow seekers of ancient wisdom and spiritual insight!</p>
        <p>We are delighted to welcome you to the Pagan Gnosis Portal, a sacred space dedicated to the sharing and exploration of Pagan spiritual experiences.<br>
        Our mission is to foster a vibrant community where we can collectively delve into the mysteries of the Gods we worship and deepen our understanding of their divine nature.</p>

        <p>Here, you will find a rich tapestry of personal narratives, ritual practices, and theological reflections, all contributing to the construction of a meaningful and coherent Pagan theology.<br>
        Whether you are new to the path or a seasoned practitioner, your experiences and insights are invaluable to our collective journey.</p>

        <p>Join us as we honor the old ways and discover new truths, building bridges between past and present, individual and community, the mortal and the divine.<br>
        Together, let us celebrate our diverse traditions, share our spiritual awakenings, and enrich our understanding of the Gods who guide and inspire us.</p>

        <p>May this portal be a beacon of knowledge, a source of inspiration, and a testament to the enduring power of Pagan spirituality.<br>
        <italic>Blessed be! 🙏🏼</strong></p>
</div>
{% endblock %}