{% extends 'base.html.twig' %}
{% block content %}
<div class="main-content">
    <p>
        Godaz Dagaz! This is the under-construction start page of this webapplication.
    </p>
</div>
{% endblock %}